<!DOCTYPE html>
<html xmlsn:th="http://www.thymeleaf.org">

<body>
	

	<!--plantilla-->
	<table th:fragment="itemsFactura" class="d-none">
		<!-- d-none es para que sea oculta, luego con jquery y javascript se ingresan los calores-->
		<tbody id="plantillaItemsFactura">
			<tr id="row_{ID}">
				<!--{ID} esto seria el nombre del parametro, este valor se va a reemplazar despues con el valor real del id del producto, esto basicamente para que despues a traves de jquery tengamos la posibilidad de eliminar la linea -->
				<td class="d-none"> <input type="hidden" value="{ID}" name="item_id[]" /></td>
				
				
				<td>{NOMBRE}</td>
				<!--este parametro {NOMBRE} despues se van a reemplazar con el valor real del producto, lo obtenemos a traves del autocomplete cuando seleccionamos un producto  -->
				<td>{PRECIO}</td>
				<td> <input type="number" value="1" name="cantidad[]" id="cantidad_{ID}" class="form-control col-sm-4"
						onchange="itemsHelper.calcularImporte({ID},{PRECIO},this.value);" /> </td>
				<!--tambien es un arreglo, un arreglo de las cantidades--> <!--cantidad_{aqui va el valor del ID}-->
				<!--onchange es cuando cambie haga esto(llamar a la funcion calcularImporte ) -->
				<td><span id="total_importe_{ID}">0</span></td>
				<td> <a href="#" class="btn btn-danger btn-xs" onclick="itemsHelper.eliminarLineaFactura({ID});">x</a>
				</td>
				<!--cuando den click va a llamar al metodo del itemsHelper, este {ID} es un parametro que lo completa jquery-->
			</tr>
		</tbody>


	</table>
</body>

</html>